<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
          <button class="btn btn-primary" routerLink="add">Add New Order</button>
      </div>  
    </div>    
    
    <!-- <div class="panel panel-default margin-top20">
      <div class="panel-heading">Search</div>
      <div class="panel-body">
        <div class="col-md-4">
          <div class="form-group">
            <label for="searchOrder">Packer/Buyer</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="searchOrder">Order Number</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success">
            Search
          </button>
        </div>
      </div>
    </div> -->
    <table class="table table-striped table-responsive margin-top20">
      <tr>
        <th>RSSNumber</th>
        <th>PO#</th>
        <th>End Buyer</th>
        <th>Delivery Date</th>
        <th>PI#</th>
        <th>Packer</th>
        <th>Pack Date</th>
        <th>Status</th>
        
      </tr>
      <tr *ngFor="let order of orders"  [routerLink]='["details",order.id]'(orderSelected)="onOrderSelected($event)">
        <td>{{ order.RSSNumber }}</td>
        <td>{{ order.OrderNumber }}</td>
        <td>{{ order.Buyer }}</td>
        <td>{{ order.DeliveryDate | date }}</td>
        <td>{{ order.PINumber }}</td>
        <td>{{ order.Packer }}</td>
        <td>{{ order.PackDate | date }}</td>
        <td>{{ order.Packer }}</td>

      </tr>
    </table>
  </div>
</div>